#background{
    background-image: url("foto.png");
    background-size: cover;
    background-position: center;
}


h2 {
    color: rgb(48, 48, 48);
    font-family: 'bahnschrift';
    src: url('font\BAHNSCHRIFT.TTF');
    font-style: initial;
}

h1 {
    color: rgb(48, 48, 48);
    font-size: 45px;
    font-family: 'calibri';
    src: url('font\CALIBRI.TTF');
}

p {
    font-size: 17px;

}

label {
    color: rgb(48, 48, 48);
    font-size: 17px;
    font-weight: bold;
}

.relative-parent {
    width: 230px;
    position: absolute
}

.relative {
    width: 220px;
    position: relative;
    top: 5px;
    left: 2px;
    bottom: 0px;
    right: 0px;
}


.faculdade {
    width: 40px;
    position: relative;
}

input[type="submit"] {
    width: 100px;
    height: 30px;
    color: rgb(48, 48, 48);
    font-size: 15px;
    font-weight: bold;
}